@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") 
         format("truetype-variations");
  }
        
:root {
  --dark-purple: #4100C2;
  --light-purple: #7158FF;
  --blueish-purple: #2F00FF;
  --dark-greyish-blue: #23314D;

  --bg-color: #DEE8FF;

  --font-color: #111;
  --font-light: #b1b1b1;
  --opposite-font-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--font-color);
    box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
===============================
Results component classes
===============================
*/

.results-component {
  background: #fff;
  width: min(700px, 100%);
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  border-radius: 30px;
}

.results-component .results-page,
.results-component .summary-page {
  gap: 20px;
  padding: 40px 20px;
}


/*
###############################
Results page (left page card)
###############################
*/

.results-component .results-page {
  background: linear-gradient(180deg, #7158FF 0%, #2F00FF 75%);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-component .results-page h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-light);
}

.results-score {
  width: 200px;
  height: 200px;
  text-align: center;
  color: var(--font-light);

  background: linear-gradient(180deg, var(--dark-purple) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-score span {
  font-size: 4rem;
  font-weight: 800;
  color: var(--opposite-font-color);
}

.results-comparison {
  font-size: 1.75rem;
  color: var(--opposite-font-color);
  font-weight: 700;
}

.results-description {
  text-align: center;
  justify-self: flex-end;
  color: var(--font-light);
}


/*
###############################
Summary section (right side) 
###############################
*/

.results-component .summary-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.results-component .summary-page h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.results-component .skill-assessments {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.results-component .skill-assessment {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-assessment > span:first-child {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px
}

.skill-assessment img {
  height: 30px;
}

.skill-assessment.red{
  background-color: rgba(255, 80, 80, 0.10);
} 

.skill-assessment.red figcaption {
  font-weight: 600;
  color: rgb(212, 78, 78);
} 

.skill-assessment.yellow {
  background-color: rgba(255, 229, 80, 0.1);  
}

.skill-assessment.yellow figcaption {
  font-weight: 600;
  color: rgb(255, 176, 6);
} 

.skill-assessment.green{
  background-color: rgba(100, 255, 80, 0.1);
}

.skill-assessment.green figcaption {
  font-weight: 600;
  color: rgb(0, 199, 99);
} 

.skill-assessment.blue {
  background-color: rgba(80, 98, 255, 0.1);
}

.skill-assessment.blue figcaption {
  font-weight: 600;
  color: blue;
} 

.skill-assessment-score {
  color: var(--font-light);
  font-weight: 600;
}

.skill-assessment-score span {
  font-weight: 600;
}

.results-component .continue-btn {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.results-component button {
  width: 100%;
  height: 60px;
  font-weight: 600;
  border-radius: 30px;
  border: 2px white solid;
  background-color: var(--dark-greyish-blue);
  color: var(--opposite-font-color);

  cursor: pointer;
}